block content
  - console.log(data)
  .main-content
  <link rel="stylesheet" type="text/css" href="./style.css">
  h1 HIVE CAFE
  <button type="search">Search</button>

  //<!-- input tag -->

   <input id="searchbar" onkeyup="search_names()" type="text"

     name="search" placeholder="Search names">

  table(border=1)
      tr
          td ID
          td Name
          td Role
          td Email
          td Stamps
      for item in data
          tr
              td #{item.user_id}
              td
                  a(href='/user-single/' + item.user_id) #{item.user_name}
              td #{item.user_role}
              td #{item.user_email}
              td
